@media all and (max-width:768px){

.home-about{

    margin: 2rem 0;
    img{
        width: 50%;
    }
   
    
    
    
    .about-article{

   .about-article-first{
        width: 100%;
    }
}

}

.skills{
    margin: 1rem 0;


    .bar-box{

        width: 100%;
    }
}


.download{


    button{
        margin-top: 2rem;
        margin-left: 0;
    }
}


.facts{
    img{
        width: 50%;
    }
    .facts-article{


        div{
        margin-bottom: 5.2rem;
        }
    }
}


.team{

    img{
        width: 50%;
    }
    
    .team-box {
        align-items: center;
        justify-content: center;
        text-align: center;
    
    
    figure{
        width: 100%;
        margin-left: 0;
        img{
            width: 50%;
        }
    }
}
}


.clients{
    margin: 0;
   img{
       width: 50%;
   }

    .partner-box{
        div{
            width: 50%;
        }

    }



}


}