@keyframes btnfiller{

    from{
        background-color: rgba($primary,.1);

    }
    to{
      
       background-color: $white;
       color: $secondary;
    }
}






@keyframes rightslideAnimation{

    from{
        left: 0;
        transform: translateX(700px);
       
       
       

    }
    to{
       right: 0;
       transform: translateX(0);

    }

    
}
@keyframes leftslideAnimation{

    from{
        left: 0;
        transform: translateX(-700px);
       
       
       

    }
    to{
       right: 0;
       transform: translateX(0px);

    }

    
}

@keyframes topslideAnimation{

    from{
        left: 0;
        transform: translateY(-100px);
       
       
       

    }
    to{
       right: 0;
       transform: translateX(0px);

    }

    
}

@keyframes rightTranslateAnimation{

    from{
        left: 0;
        transform: translateX(-100px);
       
       
       

    }
    to{
       right: 0;
       transform: translateX(700px);

    }

    
}


li:hover i{

    transition-duration: 500ms;
    transform: scale(2) rotate(360deg);
   
}
button:hover  a i{
    transition-duration: 500ms;
    transform: scale(2) rotate(-45deg);
    color: $white;
}


@keyframes progressBarAnimation{

    0%{
        width: 0%;
        background-color: $white;
    }
    10%{
        width: 10%;
        background-color: $primary;
    }
    20%{
        width: 20%;
        background-color: $primary;
    }
    30%{
        width: 30%;
        background-color: $primary;
    }
    
    40%{
        width: 40%;
        background-color: $primary;
    }
    50%{
        width: 50%;
        background-color: $primary;
    }
    60%{
        width: 60%;
        background-color: $primary;
    }
    70%{
        width: 70%;
        background-color: $primary;
    }
    
    80%{
        width: 80%;
        background-color: $primary;
    }
    90%{
        width: 90%;
        background-color: $primary;
    }
    
    100%{
        width: 100%;
        background-color: $primary;
    }


}