.contact-main{
    padding-top: 8rem;
}

.h2{
    font-size: 2.5rem;
   
    text-transform: uppercase;
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
   
   
    
   
}

.p{
    color: $secondary;
    text-align: center;
    font-size: 1.5rem;
}


.contact{

   
    margin-top: 3rem;
    width: 100%;
   
    &:hover img{
        animation-name: imgAnimation;
        animation-duration: 5s;
      
    }
    figure{
        width: 45%;
      
        img{
          
            border: .3rem solid black;
           
         
        }
    }
    .form{
        width: 45%;
        input{
            padding: 1rem;
            margin-bottom: 1rem;
            border-radius: .5rem;
            border: none;
            border: .1rem solid $primary;
            &:focus{
                background-color: rgba($secondary,.1);
                border-color: $primary;
                animation-name:  colorAnimation;
                animation-duration:1s;
            }
           
        }
        textarea{
            padding: 1rem;
            border-radius: .5rem;
            border: none;
            border: .1rem solid $primary;
            &:focus{
                background-color: rgba($secondary,.1);
                border-color: $primary;
            }

        }
    }
}
::placeholder{
    color: gray;
}
input :focus{
    border-color: $primary;
   
}

.map {
 
    margin-top: 2rem;
    width: 100%;
  margin-bottom: 3rem;
    
    iframe{
        width: 100%;
      
    }
}