

html{
    font-size: 16px;
    scroll-behavior: smooth;
}
body{
    font-family: $font;
    line-height: 1.5;
}

*,::before,
::after{
    box-sizing: border-box;
}


.container{
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}
h1,h5{
    font-size: 2.5rem;
    color: $white;
    text-transform: uppercase;
    font-weight: 900;
   
   
}
h2{
    font-size: 1.5rem;
    color: $white;
}
h3,h4{
    font-size: .8rem;
    color: $white;
}
p{
    font-size: 1rem;
    color: $white;
    
}
.flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.colom{
    flex-direction: column;
}
.space-between{
    justify-content: space-between;
}
.center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.text-center{
    text-align: center;
}

.margin-top{
    margin-top:1rem ;
}
.margin-bottom{
    margin-bottom:1rem ;
}
.margin-left{
    margin-left:1rem ;
}
.margin-right{
    margin-right:1rem ;
}
.padding{
    padding: 1rem;
}
.padding-top{
    padding-top: 1rem;
}
.padding-bottom{
    padding-bottom: 1rem;
}
img{
    width: 100%;
    font-size: 0;
    line-height: 0;
}

.header{
    position: fixed;
  
    width: 100%;
   
}

h2{
   
    animation-name: leftslideAnimation;
    animation-duration: 500ms;
   
}
p{
    
    animation-name: rightslideAnimation;
    animation-duration: 500ms;
}

footer:hover small{

    animation-name: topslideAnimation;
    animation-duration: 500ms;
}

button:hover i{
    transition: 1s;
    transform: scale(3);
}

button{
    color: $white;
    background-color: rgba($primary,.1);
    border: none;
    border: .2rem solid $white;
}




.header{
    position: fixed;
  
    width: 100%;
    padding: 1rem 0;
    z-index: 2;
    background-color:$primary;
     #toggle,label{
         display: none;
     }
     .container{
        display: flex;
        justify-content: space-between;
     }

     

   
    figure{
        width:100%;
        animation-name: leftslideAnimation;
        animation-duration: 500ms;
        
    }
    nav{
        animation-name: rightslideAnimation;
        animation-duration: 500ms;
        width: 30%;
        a{
            color: $secondary;
            display: inline-block;
            font-weight: bold;
            text-transform: uppercase;
             transition-property: transform;
             transition-duration: 500ms;
           
            &:hover{
                color: $white;
                transform: scale(1.5);
               
               
            }
        }
    }
}



.footer{
    padding: 2rem 0;
    background-color: $primary;
    position: relative;
    div
    {
       
        justify-content: center;
        text-align: center;
    }

    small{
        color: gray;
    }
    i{
        color: $white;
        margin: 1rem;
        
    }


    button{
       position: fixed;
       
       z-index: 2;
       bottom: 1rem;
       right: 1rem;
     
       width: 3rem;
       height: 3rem;
       display: flex;
       align-items: center;
       justify-content: center;
       border-color: gray;
       transform: rotate(45deg);
       box-shadow: 0rem 0rem .2rem .2rem $primary;
       i{
           transform: rotate(-45deg);
           color: gray;
       }

    }
}